#filter WebSafe
#from Plugins.Extensions.OpenWebif.controllers.i18n import tstrings
#from json import dumps
<style>
#streamchannels-menu {max-height: 300px;}
#hlsPlayer { display:block; margin:0 auto; background:#000; }
</style>
<div id="content_main" style="min-height: 550px;background-image:none;" class="ui-widget-content">
	<div id="info">
	<div style="display: inline-block; width: 100%; zoom: 1;background-image:none;" class="ui-widget-content">
		<h3 class="ui-widget-header">Player</h3>
				<div style="margin:0 auto 0 auto;width:640px;">
					<video id="hlsPlayer" width="640" height="360" controls></video>
				</div>
				<div style="display:table;margin:10px auto;">
					<div style="display:inline-block;">
						<label for="wzapstream">$tstrings['zapbeforestream']</label>
						<input type="checkbox" name="wzapstream" id="wzapstream">
						<span id="srcbuttons" style="margin-left:5px;">
						<input type="radio" id="sbtn0" name="srcbutton" checked="checked" /><label for="sbtn0">$tstrings['channels']</label>
						<input type="radio" id="sbtn1" name="srcbutton" /><label for="sbtn1">$tstrings['movies']</label>
						</span>
						<button id="btnstop" style="margin-left:5px;">Stop</button>
					</div>
				</div>
				<div style="display:table;margin-top:10px;margin-bottom:10px;width: 95%;">
					<div style="display:table;margin:10 auto 10 auto;">
					<span style="display:inline-block;">
					<select name="streambouquets" id="streambouquets" tabindex="15"></select>
					<select name="streamchannels" id="streamchannels" tabindex="16"></select>
					<select name="streamrecordings" id="streamrecordings" tabindex="10"></select>
					<select id="moviesort">
					#set $count = 0
					#set $da = $tstrings['date']
					#set $na = $tstrings['name']
					#set $sortnames = [$na,$na,$da,$da]
					#set $sorttypes = ['name','named','date','dated']
					#set $sortimg = ['fa-sort-alpha-asc','fa-sort-alpha-desc','fa-sort-numeric-asc','fa-sort-numeric-desc']
					#for $title in $sortnames
						<option value="$sorttypes[$count]" data-class="$sortimg[$count]">$title</option>
						#set $count += 1
					#end for
					</select>
					</span>
					</div>
				</div>

			</div>
		</div>
<script type="text/javascript" src="/webtv/hls.min.js"></script>
<script type="text/javascript" src="/webtv/webtv.js?v=6"></script>
<script type="text/javascript">
\$(function() { var playerObj=new PlayerObj(); playerObj.setup('$auth','$streaming_port','$live555_hls_base',$dumps({'notunerfree': $tstrings['no_tuner_free'], 'switchchannelquestion': $tstrings['switch_channel_question'], 'yes': $tstrings['yes'], 'no': $tstrings['no']}))});
</script>
<link rel="stylesheet" type="text/css" href="/css/chosen.min.css" />
#end filter
