$transition-duration: 0.25s;
$body-color: #5a5a5a;
$primary-bg-color: #26a69a;
$color-blue-vivid-sky: #2196f3;
$color-blue-soft-ocean: #1f91f3;
$color-blue-vibrant-cyan: #00b0e4;
$color-green-lush-forest: #2b982b;
$color-orange-sunset: #ff9600;
$color-palette-red: #f44336;
$color-red-fiery-coral: #fb483a;
$disabled-color: rgba(0, 0, 0, 0.26);
$font-size-base: 1rem;
$shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
$border-radius-zero: 0;
$radius: 50%;
$radius-lg: 50%;
$sidebar-width: 300px;
